.footer {
	width: calc(100% - #{$desktop-side-indent} * 2);
	margin: 0 auto;
	box-sizing: border-box;
	border-top: 2px solid #151515;

	@include tabletStyles {
		width: calc(100% - #{$tablet-side-indent} * 2);
	}

	@include mobileStyles {
		width: calc(100% - #{$mobile-side-indent} * 2);
	}

	&__logo {
		padding: 3.75rem 0 5.25rem;
	}

	&__container {
		display: flex;
		justify-content: space-between;

		@include tabletStyles {
			flex-direction: column;
		}
	}

	&__copyright {
		@include createIndent(0, 3.75rem 0);
		font-weight: 400;
		font-size: .75rem;
		line-height: 1.5;
		color: #47474C;
		align-self: end;

		@include tabletStyles {
			align-self: start;
		}

		@include mobileStyles {
			padding: 2.5rem 0 1.25rem;
		}
	}
}