.text {
	max-width: 1120px;
	@include createIndent;
	color: $main-text-color;
	font-size: 2rem;
	line-height: 1.25;
	font-weight: 400;

	@include desktopMediumStyles {
		font-size: 1.5rem;
	}

	@include preTabletStyles {
		max-width: 684px;
		font-size: 1.25rem;
		line-height: 1.5;
	}

	@include mobileStyles {
		max-width: 100%;
		font-size: .75rem;
		line-height: 1.5;
	}
}