.section-title {
	@include createIndent;
	color: $secondary-color;
	font-size: 2rem;
	line-height: 1.25;
	font-weight: 400;

	@include preTabletStyles {
		font-size: 1.25rem;
		line-height: 1.5;
	}

	@include mobileStyles {
		font-size: .75rem;
	}
}