.support {
	width: calc(100% - #{$desktop-side-indent} * 2);
	margin: 0 auto;
	box-sizing: border-box;

	@include preTabletStyles {
		width: calc(100% - #{$tablet-side-indent} * 2);
	}

	@include mobileStyles {
		width: calc(100% - #{$mobile-side-indent} * 2);
	}

	&__title {
		padding-top: 3.75rem;
		padding-bottom: 5.625rem;

		@include preTabletStyles {
			padding-bottom: 5rem;
		}

		@include mobileStyles {
			padding-top: 1.875rem;
			padding-bottom: 3.125rem;
		}
	}

	&__button {
		width: 306px;
		box-sizing: border-box;
		letter-spacing: 0.38px;

		@include mobileStyles {
			width: 100%;
			font-size: .75rem;
			line-height: 1.5;
		}
	}

	&__main-text {
		padding-top: 3.125rem;
		padding-bottom: 15rem;

		@include preTabletStyles {
			padding-top: 2.5rem;
			padding-bottom: 13.125rem;
		}

		@include mobileStyles {
			padding-top: 1.875rem;
			padding-bottom: 11.25rem;
		}
	}
}