.lead {
	width: calc(100% - #{$desktop-side-indent} * 2);
	margin: 0 auto;

	@include tabletStyles {
		width: calc(100% - #{$tablet-side-indent} * 2);
	}

	@include mobileStyles {
		width: calc(100% - #{$mobile-side-indent} * 2);
	}

	&__main-text {
		max-width: 1120px;
		padding: 3.75rem 0;

		@include tabletStyles {
			max-width: 684px;
		}

		@include mobileStyles {
			max-width: 280px;
			padding: 0 0 1.25rem;
		}
	}

	&__section-title {
		padding-bottom: 3.75rem;
		max-width: 537px;

		@include mobileStyles {
			padding-bottom: 1.875rem;
		}
	}
}