$primary-color: #000;
$secondary-color: #fff;
$third-color: #25E197;
$buttons-color: #47474C;

$font-family: 'Roboto', Arial, sans-serif;
$main-text-color: #8E8E98;

$border-radius-general: .5rem;

$desktop-side-indent: 10rem;
$tablet-side-indent: 3.75rem;
$mobile-side-indent: 1.25rem;