$primary-color: #000;
$secondary-color: #fff;
$third-color: #25E197;

$font-family: 'Roboto', Arial, sans-serif;

$border-radius-general: 8px;

$desktop-side-indent: 10rem;
$tablet-side-indent: 3.75rem;
$mobile-side-indent: 1.25rem;